#header {
    text-align: center;
  }
  
  #input {
    text-align: center;
  }
  
  table {
    margin-top: 15px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }